<style>
    .maincontainer{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background: #b2bec3;
    }
    .root{
        width: 1100px;
        height: auto;
        background: #ecf0f1;
        padding: 10px;
    }
    .heading{
        color: #2d3436;
        font-size: 20px;
        font-weight: bold;
        font-family: Oxygen;
        display: flex;
        justify-content: center;
        padding: 5px;
    }
    .rowgap{
        margin-top: 40px;
    }
</style>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap" rel="stylesheet">
<!-- Font Awesome -->
<link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    rel="stylesheet"
/>
<!-- Google Fonts -->
<link
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    rel="stylesheet"
/>

<html>
    <head>
    
    </head>
    <title>Dashboard</title>
    <body>
        <div class="maincontainer">
            <div class="root">
            <div class="heading">
                <span><img src="/images/vistara-logo.png" width="200"></span><h3>Flight Enquiry System</h3>
            </div>
            <table class="striped">
                <thead>
                <tr>
                    <th>Flight Id</th>
                    <th>Company Name</th>
                    <th>Source</th>
                    <th>Destination</th>
                    <th>Status</th>
                    <th>Class</th>
                    <th>Days</th>
                    <th>Update</th>
                </tr>
                </thead>
                <% data.map((item)=>{ %>
                <tbody>
                <tr>
                    <td><%= item.flightid %></td>
                    <td><b><%= item.companyname %></b><br><a href="/enquiry/show_img?flightid=<%=item.flightid%>&companyname=<%=item.companyname%>&boarding=<%=item.boarding%>"><img src="/images/<%= item.boarding %>" width="50"></a></td>
                    <td><%= item.sc %><br><b><%= item.sourcetiming %></b></td>
                    <td><%= item.dc %><br><b><%= item.destinationtiming %></b></td>
                    <td><%= item.status %></td>
                    <td><%= item.flightclass %></td>
                    <td><%= item.days %></td>
                    <td><a href="/enquiry/displaybyid?fid=<%= item.flightid %>">Update</a></td>
                </tr>
                </tbody>
                <% }) %>
            </table>
            



            </div>
        </div>
    </body>
</html>

<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
